@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: outfit;
}
.active hr {
    @apply block
}
::-webkit-scrollbar {
    visibility: hidden;
}
@media(max-width:740px){
    .active p {
        color:white;
        background-color: var(--tw-bg-opacity, 1) primary;
    }
}